<h1>Meine Programmieraufgabe!</h1>

<div class="form-group now">
    <label class="col-sm-2 col-form-label">Input number</label>
    <div class="col-sm-5">
        <input type="string" class="form-control" [(ngModel)]="input" placeholder="Enter Palindome number">
    </div>
    <div class="col-sm-5">
        {{ result }}
    </div>
</div>
<button type="button" class="btn btn-primary" (click)="executeMain()">Calculate Palindrome</button>
<br><br>

<button type="button" class="btn btn-primary" (click)="savePalindromeToDb()">Save palindrome value to database</button>
<br><br>

<button type="button" class="btn btn-primary" (click)="showPalindromes()">Show palindromes</button>
<br><br>
<div *ngIf="isShown()">
    <app-show></app-show>
</div>


<router-outlet></router-outlet>


