<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Input
            </th>
            <th>
                Result
            </th>
            <th>
                Number of Cycles
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let palindrome of palindromes">
            <td>{{ palindrome.input }}</td>
            <td>{{ palindrome.result }}</td>
            <td>{{ palindrome.numberOfCylces }}</td>
        </tr>
    </tbody>
</table>
